<div class="container">

<% flash.each do |msg| %>
  <div class="alert alert-danger" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<h1>Trajetos</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Local partida</th>
      <th>Local destino</th>
      <th>Horario</th>
      <th>Passageiros</th>
      <th>Valor</th>
      <th>Observacao</th>
      <th>Login id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trajetos.each do |trajeto| %>
      <tr>
        <td><%= trajeto.local_partida %></td>
        <td><%= trajeto.local_destino %></td>
        <td><%= trajeto.horario %></td>
        <td><%= trajeto.passageiros %></td>
        <td><%= trajeto.valor %></td>
        <td><%= trajeto.observacao %></td>
        <td><%= trajeto.identificacao_login_id %></td>
        <td><%= link_to 'Show', trajeto %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div class="container">
